:root{

    --backGround: #e9eee7;
    --primary: #b1abb3;
    --secundary: #6d697e;
    --thirdy:#b796fb ;
    --forthy:#8c52ff ;
    --fifthy:#7733ff ;
}

.card-apresentacao{
    width: 100%;
    height: 50vh;
    margin: 0em 0.2em;
    background-color: #6076731c;
    border-radius: 0.2em;
    padding: 2em;
}